<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>AI Crop Recommendation Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="dashboard">

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-top">
            <h2>🌾 Smart Farm AI</h2>
            <ul>
                <li><a href="/">🏠 Home</a></li>
                <li><a href="/about">ℹ️ About</a></li>
                <li><a href="/cropprediction"><strong>🌱 Crop Prediction</strong></a></li>
                <li><a href="/analytics">📊 Analytics</a></li>
                <li><a href="/contact">📞 Contact</a></li>
            </ul>
        </div>
    </div>

    <!-- Main -->
    <div class="main">

        <!-- HERO -->
        <div class="hero">
            <h1>🌱 AI Crop Recommendation</h1>
            <p>
                Enter soil and climate details to get the best crop recommendation
                using machine learning.
            </p>
        </div>

        <!-- INPUT CARD -->
        <div class="card">
            <h3>📥 Enter Soil & Climate Data</h3>

            <div class="grid">
                <input type="number" id="nitrogen" placeholder="Nitrogen (N(40 – 100))">
                <input type="number" id="phosphorus" placeholder="Phosphorus (P(30 – 80))">
                <input type="number" id="potassium" placeholder="Potassium (K(40 – 90))">
                <input type="number" id="temperature" placeholder="Temperature °C(10°C – 40°C)">
                <input type="number" id="humidity" placeholder="Humidity %(40% – 90%)">
                <input type="number" id="rainfall" placeholder="Rainfall mm(50 – 300 mm)">
                <input type="number" id="ph" placeholder="Soil pH(5.5 – 7.5)">
                <input type="number" id="carbon" placeholder="Carbon(20 – 70)">
                <input type="text" id="soil" placeholder="Soil Type (Loamy Soil)">
            </div>

            <div class="btn-group">
                <button onclick="autoFill()">⚡ Auto Fill Demo</button>
                <button onclick="predictCrop()">🌾 Predict Crop</button>
            </div>
        </div>

        <!-- RESULT -->
        <div class="result-card" id="result">
            🌱 Prediction will appear here
        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>